{% extends 'base.html' %}

{% block content %}

<a href="/">Home</a>

<!-- 
    TODO: Instead of the hard-coded values, use the event object to display the
    correct title, description, date, time, and number of guests
-->
{% if event %}
<h1>{{ event.title }}</h1>

<p>{{event.description}}</p>

<p><strong>Date:</strong> {{date[0]}}</p>
<p><strong>Time:</strong> {{date[1]}}</p>

<p><strong>Number of Guests:</strong> {{ event.guests|length}}</p>
{% endif %}
<form method="POST">
    <fieldset>
        <legend>RSVP</legend>
        <p>
            <label>
                Your Name:
                <input type="text" name="guest_name">
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="returning" onchange="returningGuestChanged(this.checked)">
                Returning Guest?
            </label>
        </p>
        <div id="new-guest-info">
            <p>
                <label>
                    Your Email Address:
                    <input type="email" name="email">
                </label>
            </p>
            <p>
                <label>
                    Your Phone Number:
                    <input type="phone" name="phone">
                </label>
            </p>
        </div>
        <p>
            <input type="submit" name="submit" value="Add">
        </p>
    </fieldset>
</form>

<!-- TODO: Display the actual guests attending -->

<h2>Guests Attending:</h2>
<ul>
    {% if event.guests %}
    {% for guest in event.guests %}
    <li><a href="/guest/{{guest.id}}">{{guest.name}}</a></li>
    {% endfor %}
    {% endif %}
</ul>

{% endblock %}
